<!DOCTYPE html>
<html>
<head>
    <title>Contact - Smart Academic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="home-page">

<!-- Navbar -->
<nav class="navbar">
    <div class="logo">
        <img src="{{ url_for('static', filename='graduation.png') }}" alt="Logo">
        <div class="logo-text">
            <span class="main-title">Smart Academic</span>
            <span class="sub-title">Software Tools & Support System</span>
        </div>
    </div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/subjects">Subjects</a></li>
        <li><a href="/troubleshoot">Troubleshooting</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<!-- Contact Section -->
<section class="hero">

    <div class="hero-left">
        <h1>Contact Us</h1>
        <p>If you have any issues or need help, feel free to contact us.</p>

        <div class="selection-card">

            <p><strong>Email:</strong> smartacademic@gmail.com</p>
            <p><strong>Phone:</strong> +91 8919895420</p>
            <p><strong>Address:</strong> Vignan University, Hyderabad</p>

            <br>

           

        </div>
    </div>

</section>

</body>
</html>